<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Qashier HQ E2E Suite" verbose="1" parallel="false">
	<listeners>
		<listener class-name="com.qashier.hq.listeners.AllureListener"/>
	</listeners>
	<test name="Simple Staff Test">
		<classes>
			<class name="com.qashier.hq.tests.SimpleStaffTest"/>
		</classes>
	</test>
</suite>

